* {margin: 0;padding: 0;box-sizing: border-box;}
.titulo {
  color: #e4e4e4;
  background-color: orangered;
  width: 100%;
  height: 10%;
  padding: 20px;
  text-transform: uppercase;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  
}

.App-header {
  background-color: #282c34;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: 599px) {
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
    margin: 0;
  }
  
}